.wrap {
  margin-top: 90vh;
  margin-bottom: 90vh;
}
body {
  margin: 0;
}
#img1 {
  display: block;
  -webkit-clip-path: url(#clipping);
  clip-path: url(#clipping);
  position: relative;
  overflow: hidden;
}
#img2 {
  display: block;
  -webkit-clip-path: url(#clipping);
  clip-path: url(#clipping);
  position: relative;
  overflow: hidden;
}
#img image {
  display: block;
/*   position: absolute;
  top: 0;
  left: 0; */
}
